.gray {
  color: #999999;
}

.blue {
  color: #007bff;
}

.red {
  color: red;
}

.btn-outline-light {
  color: #f8f9fa;
  border-color: white;
}

#pickupInfoContainer {
  margin-top: 10px;
}

#dispatchButtonContainer {
  margin-top: 10px;
}
