<!--Totals Section-->
<div class="card-footer p-1 border-top mx-3" style="color: black;">
  <div class="row form-inline">
    <div class="col-sm-12 d-inline-flex">
      <div class="col pl-2 d-inline-flex">
        <label class="card-text-left fw-bold">Totals</label>
      </div>
      <div class="col p-1 d-inline-flex">
        <label class="card-text fw-bold d-inline-flex mr-2">{{this.totalHUSum}}</label>
        <label class="card-text  d-inline-flex m-10">&nbsp;H/U</label>
      </div>
      <div class="col p-1 d-inline-flex">
        <label class="card-text fw-bold d-inline-flex mr-2">{{this.totalPiecesSum}}</label>
        <label class="card-text d-inline-flex">&nbsp;Pieces</label>
      </div>
      <div class="col p-1 d-inline-flex">
        <label class="card-text fw-bold d-inline-flex mr-2">{{this.totalUnitWeight}}</label>
        <label class="card-text d-inline-flex">&nbsp;Lbs/Units</label>
      </div>
      <div class="col p-1 d-inline-flex">
        <label class="card-text fw-bold d-inline-flex mr-2">{{this.totalLbsSum}}</label>
        <label class="card-text d-inline-flex">&nbsp;Lbs</label>
      </div>
      <div class="col p-1 d-inline-flex">
        <label class="card-text fw-bold d-inline-flex mr-2">{{this.totalCubicFeet}}</label>
        <label class="card-text d-inline-flex">&nbsp;CBF</label>
      </div>
      <div class="col p-1 d-inline-flex">
        <label class="card-text fw-bold d-inline-flex mr-2">{{this.totalDensity}}</label>
        <label class="card-text d-inline-flex">&nbsp;PCF</label>
      </div>
      <div class="col p-1 d-inline-flex">
        <label class="card-text fw-bold d-inline-flex mr-2">{{this.mileage}}</label>
        <label class="card-text  d-inline-flex m-10">&nbsp;Mileage</label>
      </div>
      <div class="col-sm-2 d-inline-flex p-1">
        <label class="card-text fw-bold d-inline-flex mr-2">{{this.linearFeet}}</label>
        <label class="card-text">&nbsp;Linear Feet</label>
      </div>
    </div>
  </div>
</div>
