::ng-deep .p-calendar {
  height: 37px;
  width: 100%;
}

::ng-deep .p-datepicker table td {
  padding: 0;
}

::ng-deep .p-inputtext {
  font-family: unset;
  font-size: unset;
}

::ng-deep .p-button {
  border-radius: 0 6px 6px 0 !important;
}
