.location {
  width: 24px;
  height: 24px;
  float: left;
  font-size: 30px;
  color: #294799;
  margin-right: 47px;
}

.step-text {
  font-size: .8rem;
  text-align: center;
}

.step-font {
  font-size: .55rem;
  width: 120px;
}

.destination {
  width: 100px !important;
  padding-left: 15px;
}

.destination-padding {
  padding-left: 15px;
}

.step-circle::before {
  width: calc(3.9rem + 1rem - -2.5rem);
}

.step-content {
  min-width: 4.2rem;
  max-width: 8.2rem;
  width: 7.2rem;
}
